# Email Configuration
VITE_API_URL=http://localhost:3001

# Gmail Configuration
EMAIL_FROM=your-email@gmail.com
EMAIL_PASSWORD=your-16-char-app-password
EMAIL_TO=your-email@gmail.com

# SMTP Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
